[submodule "libs/dtc"]
	path = libs/dtc
	url = https://git.kernel.org/pub/scm/utils/dtc/dtc.git
[submodule "libs/libmd"]
	path = libs/libmd
	url = https://git.hadrons.org/cgit/libmd.git
[submodule "libs/libtar"]
	path = libs/libtar
	url = https://repo.or.cz/libtar.git
[submodule "libs/libyaml"]
	path = libs/libyaml
	url = ttps://github.com/yaml/libyaml.git
